#bigsc{
  display: flex;
  height:50px;
  width: 100%;
  justify-content: space-between;
  border-bottom: solid;
  padding:5px;
}
#lfsc{
  display: flex;
  justify-content: space-between;
  width: 10%; 
}
.b1{
  background-color: white;
  height: 30px;
  border: 0px;
  border-radius: 50%;
}
.bt{
  border: 0px;
  background-color: white;
  margin-bottom: 5px;

margin-left: 10px;}
#b2{
  height:100%;
  width:70%;
  background-color: rgb(255, 255, 255);
}
#misc{
  display: flex;
  justify-content: center;
  width:60%;
}
#m1{
  border: solid;
  height:100%;
  width:50%;
  border: solid rgb(158, 158, 158);
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius:20px;
  border-top-left-radius: 20px;
  padding: 10px;
}
#m2{
  height:100%;
  width:40px;
  border-radius:50%;
  border: solid rgb(158, 158, 158);
}
.logout{
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
}
a{
  height:100%;
  width:7%;
}
.risc{
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  margin-right: 1%;
  height:100%;
  width:100%;
  background-color: rgb(255, 255, 255);
  border-radius:20px;
  border: solid rgb(192, 191, 191);
}
.signup{
  margin-left: 10px;
  margin-bottom:3px;
}
#secsc{
  display: flex;
  flex-wrap: wrap;
  border-left: solid;
  justify-content: space-evenly;
  align-items: center;
  height:100vh;
  width: auto;
  
}
.a{
  height: 30%px;
  width: 388px;
  margin-top: 10px;
}
.sc{
  height:100%;
  width: 100%;
}
#mic{
  border-radius: 50%;
}
#search{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-right: 10px;
  width: 35px;
  border: solid rgb(158, 158, 158);
  border-left: 0px;
}
.fit{
  height:80%;
  width: 80%;
  align-items: center;
  justify-content: center;
}
#homesc{
  height: 100%;
  width: 500px;
}
#dsc{
  display: flex;
  height:100%;
}
.tittle{
  display: flex;
}
#vid-name{
  font-size: medium;
  margin: 0%;
  margin-top: 1%;
  white-space: nowrap; 
  width: 328px; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.tbn{
  border-radius: 10px;
  height:100%;
  width: 100%;
}
.pg{
  margin: 0%;
  font-size: smaller;
}
.side-btn{
  display:flex;
  align-items:center;
  width: 100%;
  height: 50px;
  border:0px;
}
.side-btn-lable{
  margin-left: 50px;
}
.you{
  margin-right: 10px;
}
#mic{
  border: 0;
  height: 100;
  width: 100%;
  margin-top: 2px;
  background-color: white;
}
#mag{
  border: 0;
  background-color: white;
  border-radius: 50%;
}
#upper-tags{
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-around;
}
.upper-tags{
  height: 60%;
  width: auto;
  border: solid rgb(200, 200, 200);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: rgb(200, 200, 200);
}
.main-content{
  display: flex;
  height: 100vh;
}

.main-vid-side{
  height: 100%;
  width: 100%;
}
.main-vid{
  margin: 30px;
  margin-bottom: 0px;
  height: 70%;
  border-radius: 15px;
}
.main-vid-tittle{
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0px;
  height: 28px;
  font-size: larger;
}
.iframe-vid{
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.main-vid-info{
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pfp{
  border-radius: 50%;
}
.main-vid-channel-info{
  display: flex;
  height: 100%;
}
.pfp-side{
  display: flex;
}
#pfp{
  height: 100%;
}
#name{
  margin: 0px;
}
.name{
  margin:0px;
}
.channel-name{
  width:150px;
  height: 100%;
  margin-left: 5px;
}
.subscribe{
  border-radius: 25px;
  height: 30px;
  margin: 10px;
  margin-left: 30px;
  color: white;
  background-color: black;
  border: 0px;
  width: 100px;
}
.user-email{
  margin-left: 3px;
  margin: 0px;
}

.header-items{
  display: flex;
  align-items: center;
}
.header-profile{
  display: flex;
  align-items: center;
}
.suggestion{
  width: 20%
}
.suggested-video{
  display: flex;
  margin-top: 15px;
  width: 100%;
}

.suggestion-image{
  height:100px;
  width: 200px;
}

.suggestion-image > img {
  border-radius: 10px;
  height:105px;
  width: 200px;
}
.video-info{
  margin-left: 5px;
}
.video-info-title{
  font-weight: bolder;
}
.margin-0{
  margin: 0;
}

.smaller-fontsize{
  font-size: smaller;
}
.download-section{
  display: flex;
}
.likes-dislikes{
  display: flex;
}
.like{
  border: 0px;
  border-right: 0px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  width:45px;
  height: 35px;
}
.dislike{
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  width:45px;
  height: 35px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.share{
  margin-left: 10px;
  border: 0px;
  width: 90px;
  border-radius: 25px;
  height:35px;
}
.share2{
  margin-left: 10px;
}
.download{
  margin-left: 10px;
  border-radius: 25px;
  border: 0px;
}
.more{
  border: 0px;
  width: 35px;
  border-radius: 50%;
  margin-left: 10px;
}
.discription{
  padding: 10px;
  margin: 30px;
  background-color: rgb(194, 194, 194);
  border-radius: 15px;
}
@media screen and (max-width: 1050px) {
  .main-content{
    flex-direction: column;
  }
  .suggestions{
    margin-top: 110px;
  }
}